<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFaStorageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/FaStorageService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFaStorageService"
                contract="FaStorageService.IFaStorageService" name="BasicHttpBinding_IFaStorageService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="LastEventsLimit" value="100"/>
  </appSettings>
</configuration>